$violet-main: rgb(88, 18, 153);
$violet-light:rgb(180, 151, 214);
$shadow-color: rgba($color: #000000, $alpha: 0.3);
$pink-champagne: rgb(191, 172, 170);
$silver: rgb(225, 226, 239);
$white: rgb(255,255,255);