nav {
    padding-top: 2rem;
    @include respond(tab-port) {
        // margin-right: 0;
        padding-left: 0;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
        margin: 1.5rem auto;
        justify-content: center;
      }

    
    ul {
        text-align: right;
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        @include respond(tab-port) {
            justify-content: center;
        }
        
        li {
            list-style: none;
            display: inline-block;
            font-size: 1.2rem;
            font-kerning: auto;
            font-family: 'Urbanist', sans-serif;
            color: $violet-main;
            font-weight: bolder;
            margin-right: 2rem;

            @include respond(tab-port) {
                margin-right: 1rem;
            }

            &:last-of-type{
                margin-right: unset;
            }
            
            a {
                color: $violet-main;
                text-decoration: none;
                text-shadow: none;
                text-transform: uppercase;

                &:hover {
                    color: $violet-light;
                }
            }
            
        }
    }
    
}

nav:nth-of-type(2) {
   padding-top: 1rem;
    @include respond(phone) {
        padding-top: 0;
    }
}