.container-main {
    @include respond(big-desktop) {
        margin: 0 auto;
    }
    @include respond(tab-land) {
        overflow-x: visible;
    }
    
    max-width: 100.8rem;
    margin: 0 5%;
    // position: relative;
    overflow-x: hidden; 

    //   
    section {
        
        &:first-of-type {
            height: calc(var(--vh, 1vh) * 100);
            height: 100vh;
            
        }

        &:nth-of-type(2) {

            @include respond(tab-land) {
                margin-top: 10rem;
              }

            @include respond(phone) {
                margin-top: unset;
              }
        }
        
        min-height: 100vh;
        min-height: -webkit-fill-available;
        min-height: -moz-available;
        min-height: fill-available;
        width: 100%;


        @include respond(tab-land) {
            min-height: 100vh;
            min-height: -webkit-fill-available;
            min-height: -moz-available;
            min-height: fill-available;
            padding: 0;
            margin: 0;
            left: 0;
            width: 100%;
          }

        }

        video {
            padding: 0;
            top: 0;
            position: absolute;
            @include respond(tab-land) {
                display: none;
              }
        }

        .pd-2 {
            @include respond(tab-land) {
                padding: 0 2rem;
              }
        }

        .about-cards {
                display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */; 
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                column-gap: 4rem;
                position: relative;
                width: 100%;

                @include respond(tab-land) {
                    flex-direction: column;
                    margin-top: 0;
                  }
        }

        .card {
            margin: 0 auto;
            vertical-align: top;
            flex-grow: 1;
            max-width: 20rem;
            display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
            display: flex;
            justify-content: center;
            
            @include respond(tab-land) {
                align-items: center;
                max-width: 20rem;
                padding: 0 2rem;
                margin: 1rem auto;
                border-radius: 2rem;
                height: 22rem;
                background-color: rgba($white, $alpha: 0.3);
              }

              @include respond(phone) {
                max-width: 20rem;
              }

            ul {
                padding-left: 0;
            }
            

            // &:nth-of-type(2) h3::after {
            //     width: 8rem;
            // }

            // &:nth-of-type(3) h3::after {
            //     width: 8rem;
            // }

            // &:nth-of-type(1) h3.projects::after {
            //     width: 9rem;
            // }

            // &:nth-of-type(2) h3.projects::after {
            //     width: 10rem;
            // }

            // &:nth-of-type(3) h3.projects::after {
            //     width: 13rem;
            // }
            
            
            i {
                padding: 0.5rem 0.3rem;
                margin: 0 auto; 
                
                @include respond(tab-port) {
                    margin: 0;
                  }

                &:hover {
                    color: $violet-main;
                    text-shadow: none;
                }
            }

            &:nth-of-type(3) li {
                line-height: 1.7rem;
            }

            .card-icons-section {
                display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
                display: -ms-flexbox;  /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
                display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */; 
                justify-content: center;
                align-items: center;
                column-gap: 0.5rem;
                .card-icons {                
                    width: 3rem;
                    height: 3rem;
                    margin: 0.5rem 0.5rem;
                    
                }
            }


            .card-text-main {
                text-align: center;
                font-size: 1.5rem;
                color: $violet-main;
                text-shadow: none;
                font-weight: bolder;
                margin: 1rem auto 0.5rem auto;
                
            }

            .card-text-secondary {

                font-size: 1.2rem;
                color: $violet-main;
                text-shadow: none;
                margin: 1rem auto 0.5rem auto;
                line-height: 1.4rem;
                text-align: center;
                list-style: none;

            }
        }
}
