* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
    
html {
        scroll-behavior: smooth;
        font-size: 100%;
      }
      
      body {
        background-color: rgba($silver, $alpha: 0.75); 
        width: 100%;
    }

